:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --white-color: #ffffff;
  --black-color: #000000;
  --button-color: #f5f4fa;
  --footer-color: #2f303a;
  --button-active: #188ce8;
  --icon-color: #afb1b8;
  --time: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}